* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding: 30px 20px;
  background-color: magenta;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header > :first-child{
  margin-right: auto;
}

.header > div {
  margin: 0 10px;
  height: 70px;
  flex-basis: 140px;
  background-color: violet;
}

.main {
  display: flex;
  justify-content: center;
}

.sidebar-left {
  width:300px;
  background-color: darkseagreen;
}

.sidebar-right {
  display: flex;
  width: 700px;
  flex-glow: 1;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: green;
}

.sidebar-right > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: yellow;
}

.footer {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: blue
}

.footer > div {
  max-width: 600px;
  flex-basis: 45%;
  height: 40px;
  margin: 10px;
  background-color: aqua;
}